*{
  text-align: center;
  }

div#list {
    background-color:rgb(221, 195, 177);
    color: rgb(46, 48, 48);
    border: 2px solid rgb(75, 75, 82);
    text-align: left;
  }

  ol {
    display: flex;
    font-weight: 900;
  }
   
  ol li {
      margin-left:auto; 
      margin-right:auto
      
  }

  IMG.img{
    display: block;
    margin-left: auto;
    margin-right: auto }